label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color:#3c1414;
    text-align: center;
    position: relative;
    right: 50px;
  
  }
  input {
    padding: .5rem;
    width: 75%;
    max-width: 600px;
    box-sizing: border-box;
    display: block;
  }
  
  li {
    list-style-type: none;
  }

  .search-result li a {
    display: inline-block;
    width: 75%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    background-color:white ;
  }
  
  .search-result li a:hover {
    background-color: #feebd0;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }