<body>

    <div class="total" *ngIf="snack">

        <div class="Snack-flex">
            <div class="snack-info">
                <div class="list">
                    <li>
                        <span class="snack-name">{{snack.name}}</span>
                    </li>
                    <br>
                    <li>
                        <span class="snack-description">{{snack.description}}</span>
                    </li>
                    <br>
                    <li>
                        <span class="snack-quantity"> Quantity: {{snack.quantity}}</span>
                    </li>
                    <br>
                    <li>
                        <span class="snack-price">${{snack.price}}</span>
                    </li>
                </div>
                <div class="buttons">
                    <button class="back" type="button" (click)="goBack()">Go Back</button>
                    <button class="addToCart" type="button" (click)="addCart()">Add To Cart</button>
                </div>

            </div>

        </div>

    </div>

</body>