body {
    background-color: #efeaea;
    background-image: url('./../../assets/doritos_exploding.png');
    background-size: cover;
}

.total {
    background-color: transparent;
    padding: 50px;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.Snack-flex {
    display: flex;
    justify-content: space-evenly;
}

.snack-info {
    margin:20px;
    height: 500px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.list {
    list-style: none;
    padding: 40px;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: rgb(187, 148, 130);
    color: #3c1414;
}

.snack-name {
    font-weight: bold;
    font-size: 50px;
    color: #3c1414;
}

.snack-description {
    font-size: 20px;
}

.snack-quantity {
    font-size: 15px;
}

.snack-price {
    font-size: 30px;
    color: white;
}

.buttons{
    text-align: center;
}

button {
    background-color: #3c1414;
    padding: 12px;
    color: #e4c8c8;
    font-size: 1.3rem;
    border: 0;
    border-radius: 2.1rem;
    font-weight: bold;
}

button:hover {
    background-color: rgb(187, 148, 130);
}

.back {
    padding: 10px;
    margin-right: 5px;
}

.save {
    margin-left: 5px;
    padding: 10px;
}


