<body>
    <div class="Inventory">

        <div class="Inventory-grid-top">

            <app-snack-search class="search-snack"></app-snack-search>
            
            <div class="add-snack-flex">
                <li>
                    <label class="label" for="new-snack">Snack name: </label>
                    <input class="input" id="new-snack-name" #snackName/>
                </li>
                <li>
                    <label class="label" for="new-snack">Snack description: </label>
                    <input class="input" id="new-snack-description" #snackDescription/>
                </li>
                <li>
                    <label class="label" for="new-snack">Snack quantity: </label>
                    <input class="input" id="new-snack-quantity" #snackQuantity/>
                </li>
                <li>
                    <label class="label" for="new-snack">Snack price: </label>
                    <input class="input" id="new-snack-price" #snackPrice/>
                </li>
                <div class="buttons">
                    <button type="add-button" class="add-button" (click)="add(snackName.value, snackDescription.value, snackQuantity.value, snackPrice.value);">
                        Add snack
                    </button>
                </div>
            </div>
        </div>

        <ul class="Inventory-grid-bottom">
            <li *ngFor="let snack of snacks">
                <a routerLink="/detail/{{snack.id}}">
                    <span class="badge"></span> {{snack.name}}
                </a>
                <button class="delete-button" type="button" title="delete snack"
            (click)="delete(snack)">X</button>
            </li>
        </ul>
        
    </div>

</body>