body {
    background-color: #efeaea;
}

.Inventory-grid-top {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    padding: 1.5rem;   
    justify-content: space-around;

}

.Inventory-grid-bottom {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-inline-start: 0px;
    padding: 10px;
    column-gap: normal;
    row-gap: normal;
    background-color: #efeaea;
}

.Inventory-grid-bottom li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    position: relative;
    background-color: #efeaea;
    text-align: center;
}

.Inventory-grid-bottom a {
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    text-align: center;
    background-color: white;
}

.Inventory-grid-bottom a:hover {
    background-color: rgb(221, 221, 221);
}

.Inventory-grid-bottom a:link {
    text-decoration: none;
}

.badge {
    display: inline-block;
    color: black;
}

.delete-button {
    background-color: pink;
    padding: 15px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    position:relative;
    width: 5px;
}

.delete-button:hover {
    color: pink;
}

.add-snack-flex {
    padding:20px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 8px;
    width: 50%;
    background-color: #b7d34a;
    position: relative;
    border: 0;
    
}

.add-snack-flex li{
    list-style: none;
    padding: 10px;
}

.input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:white;
    border:0;
}

.label {
    display: inline-block;
    width: 25%;
    padding-bottom: 10px;
    font-size: 18px;
    color:#3c1414;
    font-weight: bold;
}

.buttons {
    text-align: center;
    padding-bottom: 20px;
}

.add-button {

    background-color: #3c1414;
    padding: 12px;
    color: #e4c8c8;
    font-size: 1.3rem;
    border: 0;
    border-radius: 2.1rem;
    font-weight: bold;
}

.add-button:hover {
    background-color: rgb(187, 148, 130);
}