<div class="total">
    <div class="login">
        <h3>Login</h3>
        <li>
            <label class="label">Username: </label>
            <input class="input" placeholder="username" #username1>
        </li>
        <a href={{htmlPage}} class="button" (click)="login(username1.value)">Login</a>
    </div>
    <div class="register">
        <h3>Create Account</h3>
        <li>
            <label class="label">Username: </label>
            <input class="input" placeholder="username" #username2>
        </li>
        <a href={{htmlPage}} class="button" (click)="register(username2.value)">Register</a>
    </div>


</div>