<div class="total">
    <div class="login">
        <h3>Login</h3>
        <li>
            <label class="label">Username: </label>
            <input class="input" placeholder="username" #username>
        </li>
        <a href={{htmlPage}} class="button" (click)="login(username.value)">Login</a>
    </div>
    <div class="register">
        <h3>Create Account</h3>
        <li>
            <label class="label">Username: </label>
            <input class="input" placeholder="username" #username>
        </li>
        <button class="button" (click)="register(username.value)">Register</button>
    </div>


</div>