    <div *ngIf="!Loggedin()" class="total-login" >

        <div class="login">
            <h3>Login</h3>
            <li>
                <label class="label">Username: </label>
                <input class="input" placeholder="username" #username1>
            </li>
            <button (click)="login(username1.value)">Login</button>
        </div>
        
        <div class="register">
            <h3>Create Account</h3>
            <li>
                <label class="label">Username: </label>
                <input class="input" placeholder="username" #username2>
            </li>
            <button (click)="register(username2.value)">Register</button>
        </div>
    </div>

    <div class="total-logout">
        <div *ngIf="Loggedin()">
            <button class="logout" (click)="logout()">Logout</button>
        </div>
    </div>