

h1 {
    text-align: center; 
    color: #feebd0;
    padding-top: 30px;
    font-size: 35px;
    }
    
    nav {
        text-align: center;
        width: 100%;
        height: 100px;
        background-size: cover;
        background-color: #08a9a0;    
        padding-bottom: 45px;
    }

    .nav-categories {
        /* display: flex;
        justify-content: space-evenly;
        background-color: #e8e8e8;
        color: #e4c8c8;
        font-size: 18px;
        background: #3c1414;
        box-shadow: none; */

        display: flex;
        justify-content: space-evenly;
        line-height: 1;
        color: white;
        font-size: 1.6rem;
        border: 0;
        border-radius: 2.1rem;

    }

    .nav-categories :hover {
        background-color: #3c1414;
        padding: 10px;
        border-radius: 2.1rem;
    }
    

