<div *ngIf="snack">

    <h2>{{snack.name}} Details </h2>
    <div><span>id: </span>{{snack.id}}</div>
    <div>
        <label for="snack-name"> Snack Name: </label>
        <input id="snack-name" [(ngModel)]="snack.name" placeholder="name">
    </div>
    <div>
        <label for="snack-description">Snack description: </label>
        <input id="snack-description" [(ngModel)]="snack.description" placeholder="description">
    </div>
    <div>
        <label for="snack-price">Snack Price: </label>
        <input id="snack-price" [(ngModel)]="snack.price" placeholder="price">
    </div>
    <button type="button" (click)="goBack()">Go Back</button>
    <button type="button" (click)="save()">Save</button>

</div>