.list {
    list-style: none;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: aliceblue;
}

.total {
    background-color: lightblue;
    padding: 5px;
}

.id {
    font-size: 18px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.label {
    padding-bottom: 10px;
    font-size: 18px;
}


.buttons {
    text-align: center;
}

.back {
    padding: 10px;
    margin-right: 5px;
}

.save {
    margin-left: 5px;
    padding: 10px;
}